* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
  }
  

  .ust {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    backdrop-filter: blur(5px);
    line-height: 40px;
  }
  
  .ust a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: 0.3s;
    line-height: 40px;
  }
  
  .ust a:hover {
    color: #ffcc00;
  }
  

  .alt {
    margin-top: 80px; 
    padding: 18px;
  }
  
  .alt h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .alt p {
    font-size: 20px;
    max-width: 600px;
    opacity: 0.8;
    margin: 0 auto 20px;
  }
  
  .resim-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .resim-container .resim {
    flex: 1;
    max-width: 500px;
  }
  
  .resim-container .resim img {
    width: 400px;
    border-radius: 10px;
  }
  

  .buton {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .buton:hover {
    background: #ff9900;
  }
  
  .footer1 {
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    font-size: 14px;
    backdrop-filter: blur(5px);
    margin-top: 134px;
    box-sizing: border-box;
  }



  .footer2 {
    background: rgba(0, 0, 0, 0.2);
    padding: 15px;
    text-align: center;
    font-size: 14px;
    backdrop-filter: blur(5px);
    margin-top: 63px;
    box-sizing: border-box;
  }

  .yapim
  {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(resimler/thumbs_b_c_0109168797e3a01f36ef3e803b484ef6.jpg);
  }